<% include partials/header %>
<body class="page-profile">
	<% include partials/navbar %>

	<div class="container">
		<h2>Symulator reaktora jądrowego</h2>
        <p><small>Praca inżynierska w roku akademickiem 2016/2017</small></p>
        <p><strong>Autor:</strong> Patryk Kowalczyk</p>
        <p><hr></p>
	</div>
<% include partials/footer %>
